<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prevenindo a Evasão Acadêmica</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/acesso.css') }}">
</head>
<body>

    <h1>Prevenindo a Evasão Acadêmica</h1>
    <p>Esta aplicação web permite a análise de dados acadêmicos, ajudando instituições de ensino a identificar fatores que influenciam a evasão.</p>
    <button class="btn" onclick="location.href='{{ url_for('menu') }}'">INICIAR</button>

</body>
</html>
